@charset "utf-8";
.val-none {
  display: none!important;
}
h2 {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
  float: left;
}
.btn-over {
  color: #ff6700;
  border-bottom: 2px solid #ff6700;
}
.ce-nav {
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 99;
}
.ce-nav > a {
  position: relative;
  display: block;
  width: 82px;
  height: 90px;
  margin-top: -1px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s;
}
.ce-nav > a > p {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.ce-nav > a:hover {
  color: #ff6700;
}
.ce-nav > a:last-of-type {
  margin-top: 24px;
}
.ce-nav > a:last-of-type > p {
  margin: 0;
  line-height: 90px;
}
.cl {
  background: rgba(255, 255, 255, 0.4) !important;
  border: 2px solid rgba(0, 0, 0, 0.1) !important;
}
.i-banner {
  width: 1226px;
  margin: 0 auto;
}
.i-banner > a .i-banner-vis {
  width: 1225px;
  height: 460px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.i-banner > a .i-banner-vis > ul {
  width: 15000px;
  position: absolute;
  height: 460px;
}
.i-banner > a .i-banner-vis > ul > li {
  float: left;
}
.i-banner > a .i-banner-vis img {
  display: block;
  height: 460px;
}
.i-banner > a .i-banner-vis > .i-banner-vis-p {
  position: absolute;
  top: 50%;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  right: 0;
  border-radius: 2px;
  text-align: center;
  line-height: 69px;
  color: #f1f1f1;
}
.i-banner > a .i-banner-vis > .i-banner-vis-p:nth-of-type(2) {
  right: 942px;
}
.i-banner > a .i-banner-vis > .i-banner-vis-p:nth-of-type(2) > span {
  font-size: 28px;
}
.i-banner > a .i-banner-vis > .i-banner-vis-p:hover {
  background: rgba(0, 0, 0, 0.3);
}
.i-banner > a .i-banner-vis > .i-banner-vis-p > span {
  font-size: 20px;
}
.i-banner > a .i-banner-vis > .quan {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.i-banner > a .i-banner-vis > .quan > span {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  margin: 4px;
}
.i-banner > a .i-banner-vis > .quan > span:hover {
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.i-banner > .i-banner-b {
  margin-top: 14px;
}
.i-banner > .i-banner-b > .i-banner-b-ul {
  width: 234px;
  float: left;
}
.i-banner > .i-banner-b > .i-banner-b-ul > li {
  float: left;
}
.i-banner > .i-banner-b > .i-banner-b-ul > li a {
  float: left;
  position: relative;
  width: 72px;
  height: 85px;
  padding: 0 3px;
  text-align: center;
  background: #5f5750;
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.3s;
}
.i-banner > .i-banner-b > .i-banner-b-ul > li a:hover {
  color: #fff;
}
.i-banner > .i-banner-b > .i-banner-b-ul > li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 1px;
  top: 1px;
  left: 6px;
  background: #665e57;
}
.i-banner > .i-banner-b > .i-banner-b-ul > li a::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 64px;
  top: 10px;
  left: 1px;
  background: #665e57;
}
.i-banner > .i-banner-b > .i-banner-b-ul > li a > p {
  margin-top: 12px;
  font-size: 28px;
}
.i-banner > .i-banner-b > div {
  float: left;
}
.i-banner > .i-banner-b > div > ul li {
  width: 316px;
  height: 170px;
  margin-left: 14px;
  float: left;
  transition: all 0.5s;
}
.i-banner > .i-banner-b > div > ul li:hover {
  box-shadow: 1px 1px 20px 2px #aaa;
}
.i-banner > .i-banner-b > div > ul li img {
  width: 316px;
  height: 170px;
}
#i-main {
  margin-top: 26px;
  background: #f5f5f5;
  padding-top: 4px;
  padding-bottom: 12px;
}
#i-main > .i-main {
  width: 1226px;
  margin: 0 auto;
}
#i-main > .i-main > .i-main-box1 {
  margin-bottom: 22px;
}
#i-main > .i-main > .i-main-box1 > h2 {
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m .i-box1-m-1 {
  float: left;
  height: 300px;
  width: 234px;
  padding-top: 39px;
  border-top-width: 1px;
  border-top-style: solid;
  background: #f1eded;
  text-align: center;
  border-top-color: #e53935;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m .i-box1-m-1 > img {
  margin: 25px auto;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m .i-box1-m-1 > .i-box1-m-p1 {
  font-size: 21px;
  color: #ef3a3b;
  padding-top: 15px;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m .i-box1-m-1 > .i-box1-m-p2 {
  color: rgba(0, 0, 0, 0.54);
  font-size: 15px;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m .i-box1-m-1 > .i-box1-m-time {
  width: 168px;
  margin: 28px auto 0;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m .i-box1-m-1 > .i-box1-m-time > span {
  width: 46px;
  height: 46px;
  background: #605751;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
  float: left;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m .i-box1-m-1 > .i-box1-m-time > i {
  width: 15px;
  float: left;
  height: 46px;
  line-height: 46px;
  color: #605751;
  font-size: 28px;
  font-style: normal;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 {
  float: left;
  width: 978px;
  margin-left: 14px;
  overflow: hidden;
  position: relative;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul {
  width: 5000px;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li {
  border-top-width: 1px;
  border-top-style: solid;
  width: 234px;
  margin-right: 14px;
  text-align: center;
  background: #fff;
  transition: all 0.6s;
  position: relative;
  height: 340px;
  float: left;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li:nth-of-type(5n) {
  border-top-color: #e53935;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li:nth-of-type(5n+1) {
  border-top-color: #00c0a5;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li:nth-of-type(5n+2) {
  border-top-color: #ffac13;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li:nth-of-type(5n+3) {
  border-top-color: #83c44e;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li:nth-of-type(5n+4) {
  border-top-color: #2196f3;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li > a {
  width: 234px;
  float: left;
  padding-top: 39px;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li > a > img {
  width: 160px;
  margin-bottom: 22px;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li > a > h3 {
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  margin-bottom: 8px;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li > a > p {
  margin-bottom: 12px;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li > a > p > span {
  color: #ff6700;
}
#i-main > .i-main > .i-main-box1 > .i-box1-m > .i-box1-m-2 > .i-box1-m-ul > .i-box1-ul-li > a > p > del {
  color: #b0b0b0;
  text-decoration: line-through;
}
#i-main > .i-main > .i-box1-banner {
  margin-bottom: 30px;
}
#i-main > .i-main > .i-box1-banner img {
  width: 1226px;
}
#i-main > .i-main > .i-main-box2 {
  margin-bottom: 8px;
}
#i-main > .i-main > .i-main-box2 > div > a {
  line-height: 58px;
  font-size: 16px;
  float: right;
  font-weight: 404;
  color: #444;
  transition: all 0.5s;
}
#i-main > .i-main > .i-main-box2 > div > a > span {
  font-size: 20px;
}
#i-main > .i-main > .i-main-box2 > div > a:hover {
  color: #ff6700;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-l {
  width: 234px;
  float: left;
  margin-bottom: 14px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-l img {
  width: 234px;
  height: 614px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-l > div > a {
  width: 234px;
  float: left;
  transition: all 0.6s;
  margin-bottom: 14px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-l > div > a:hover {
  transform: translateY(-4px);
  box-shadow: 1px 0px 15px 0.1px #ccc;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-l > div > a > img {
  float: left;
  width: 234px;
  height: 300px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r {
  margin-left: 14px;
  width: 978px;
  float: left;
  position: relative;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > .jiadian-btn {
  position: absolute;
  top: -38px;
  right: 0;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > .jiadian-btn > span {
  cursor: pointer;
  float: left;
  margin-left: 30px;
  font-size: 16px;
  padding-bottom: 6px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > .li-none {
  margin: 0;
  background: #f5f5f5;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > .li-none:hover {
  transform: translateY(0);
  box-shadow: 0px 0px 0px 0px #fff;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li {
  width: 234px;
  margin-right: 14px;
  text-align: center;
  background: #fff;
  transition: all 0.6s;
  position: relative;
  float: left;
  height: 260px;
  padding: 20px 0;
  margin-bottom: 14px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li:nth-of-type(4n) {
  margin: 0;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li:hover {
  transform: translateY(-4px);
  box-shadow: 1px 1px 15px 0.1px #ccc;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li :last-of-type {
  margin: 0;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > a {
  width: 234px;
  float: left;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > a > img {
  width: 160px;
  margin-bottom: 22px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > a > h3 {
  font-size: 14px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #212121;
  margin: 0 10px 2px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > a > p {
  margin-bottom: 12px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > a > p > span {
  color: #ff6700;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li {
  background: #fff;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li:first-of-type {
  margin-top: -20px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li:last-of-type {
  margin-top: 14px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li > a {
  height: 143px;
  float: left;
  width: 234px;
  margin-left: 14px;
  margin-bottom: 14px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li > a:hover {
  transform: translateY(-4px);
  box-shadow: 1px 1px 15px 0.1px #ccc;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li > a > span {
  position: absolute;
  right: 20px;
  top: 50px;
  font-size: 44px;
  color: #ff6700;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li > a > img {
  position: absolute;
  right: 20px;
  top: 32px;
  width: 80px;
  height: 80px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li > a > div {
  text-align: left;
  width: 102px;
  position: absolute;
  left: 20px;
  top: 42px;
  line-height: 22px;
  font-size: 20px;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li > a > div > p {
  font-size: 14px;
  color: #ff6700;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li > a > div > h3 {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
#i-main > .i-main > .i-main-box2 > .i-box2-m > .i-box2-m-r > ul > li > ul > li > a > div > span {
  font-size: 12px;
  color: #757575;
  display: block;
  margin-top: -20px;
}
#i-main .i-main-video {
  margin-right: 14px;
  float: left;
  background: #fff;
  height: 258px;
  width: 296px;
  transition: all 0.3s;
  margin-bottom: 14px;
}
#i-main .i-main-video:last-of-type {
  margin: 0;
}
#i-main .i-main-video:hover {
  transform: translateY(-4px);
  box-shadow: 1px 1px 15px 0.1px #ccc;
}
#i-main .i-main-video > a {
  display: block;
  width: 100%;
  height: 100%;
}
#i-main .i-main-video > a > dt {
  position: relative;
  width: 296px;
  height: 180px;
  margin: 0 0 28px;
}
#i-main .i-main-video > a > dt:hover > p {
  border: 2px solid #ff6700;
  background: #ff6700;
}
#i-main .i-main-video > a > dt > img {
  width: 100%;
  height: 100%;
}
#i-main .i-main-video > a > dt > p {
  position: absolute;
  left: 20px;
  bottom: 10px;
  width: 32px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 12px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  transition: all 0.3s;
}
#i-main .i-main-video > a > dd {
  width: 296px;
  text-align: center;
  font-size: 14px;
}
