@charset "utf-8";
.fontColor {
  color: #ff6700;
}
html,
body {
  height: 100%;
}
.s-list-none {
  display: none !important;
}
.s-main {
  background: #f9f9f9;
  color: #666;
  position: relative;
  text-align: center;
  padding-top: 20px;
}
.s-main > .s-list {
  width: 786px;
  height: 518px;
  background: #fff;
  margin: 0 auto;
}
.s-main > .s-list > .s-list-logo {
  display: block;
  width: 49px;
  height: 48px;
  margin: 0 auto;
  background: url(../images/logo.png);
  text-indent: -9999px;
  margin-bottom: 40px;
}
.s-main > .s-list > h2 {
  font-size: 30px;
  font-weight: normal;
  color: #333;
}
.s-main > .s-list > .s-list-b {
  width: 332px;
  padding: 30px 0;
  line-height: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
}
.s-main > .s-list > .s-list-b > a {
  display: block;
  margin-top: 60px;
}
.s-main > .s-list > .s-list-b > a > span {
  font-weight: bold;
  color: #333;
}
.s-main > .s-list > .s-list-b > div {
  text-align: left;
  margin-bottom: 24px;
}
.s-main > .s-list > .s-list-b > div > div {
  width: 332px;
  height: 42px;
  border: 1px solid #e8e8e8;
  margin: 4px 0;
}
.s-main > .s-list > .s-list-b > div > a {
  display: block;
  text-align: center;
  width: 332px;
  height: 42px;
  line-height: 42px;
  background: #ff6700;
  color: #fff;
}
.s-main > .s-list > .s-list-b > .s-list-state > div {
  line-height: 42px;
}
.s-main > .s-list > .s-list-b > .s-list-state > div > .xianshi {
  padding: 14px;
}
.s-main > .s-list > .s-list-b > .s-list-state > div > .xiala {
  text-align: center;
  float: right;
  width: 42px;
  border-left: 1px solid #e8e8e8;
}
.s-main > .s-list > .s-list-b > .s-list-phone > div {
  text-align: center;
  line-height: 42px;
}
.s-main > .s-list > .s-list-b > .s-list-phone > div > .phone-xiala {
  float: left;
  width: 72px;
  border-right: 1px solid #e8e8e8;
}
.s-main > .s-list > .s-list-b > .s-list-phone > div > input {
  width: 236px;
  height: 42px;
}
.s-main > .s-list > .s-list-phone {
  width: 332px;
  padding: 30px 0;
  line-height: 20px;
  padding-top: 50px;
  margin: 0 auto;
  text-align: left;
}
.s-main > .s-list > .s-list-phone > .h3color {
  color: #ff6700;
}
.s-main > .s-list > .s-list-phone > h3 {
  text-align: center;
  font-size: 24px;
  margin: 50px 0;
}
.s-main > .s-list > .s-list-phone > p {
  padding-bottom: 10px;
  line-height: 20px;
  font-size: 14px;
  color: #666;
}
.s-main > .s-list > .s-list-phone > p > input {
  width: 312px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  border: 1px solid #e8e8e8;
  padding: 10px;
}
.s-main > .s-list > .s-list-phone > p > span {
  color: #ff6700;
}
.s-main > .s-list > .s-list-phone > div {
  padding-bottom: 15px;
}
.s-main > .s-list > .s-list-phone > div > input {
  width: 208px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  border: 1px solid #e8e8e8;
  padding: 10px;
}
.s-main > .s-list > .s-list-phone > div > a {
  margin-left: 8px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border: 1px solid #e8e8e8;
  text-align: center;
  padding: 0 10px;
  color: #000;
}
.s-main > .s-list > .s-list-phone > div > span {
  display: block;
  color: #ff6700;
  font-size: 14px;
  margin-top: 10px;
}
.s-main > .s-list > .s-list-phone > span {
  user-select: none;
  width: 330px;
  height: 42px;
  margin: 0 auto;
  line-height: 42px;
  text-align: center;
  font-size: 14px;
  display: block;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  overflow: hidden;
  margin-top: 15px;
}
.s-main > .s-list > .s-list-phone > .phone-next,
.s-main > .s-list > .s-list-phone .password-next,
.s-main > .s-list > .s-list-phone .login-btn {
  background: #ff6700;
  color: #fff;
}
.l-foot {
  width: 100%;
  padding-top: 70px;
  height: 110px;
  text-align: center;
  font-size: 14px;
  color: #757575;
}
.l-foot > p {
  padding: 10px;
}
.l-foot > p > a:hover {
  color: #333;
}
